/* You can add global styles to this file, and also import other style files */
@import "assets/_variables";
@import '~bootstrap-scss/bootstrap';
@import 'node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';

html {
  height: 100%;
}

body {
  background-color: $light;
  height: 100%;
}